__pycache__/**
.vscode/
.DS_Store
__workingfile.tmp
__workingfile.tmp.cpp
_spin_nvr.tmp
fsm_graphvis
pan
pan.b
pan.c
pan.h
pan.m
pan.p
pan.t
Models/*/*.csv
Models/*/mutants/
OldExperimentResults/
api_key.txt
query_chatgpt.py
